/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
   
}

body{
    background: rgb(80, 80, 184);
}
.start_btn,.info_box{
position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
}

/*Start quiz button*/
.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color:rgb(80, 80, 184) ;
padding: 15px 30px;
background: #fff;
border-radius: 5px;
cursor: pointer;
border: none;
}

.info_box{
    display: none;
    width: 540px;
    background: #fff;
    border-radius: 5px;
}

.info_box .info_title{
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
}

.info_box .info_list{
    padding: 15px 35px;
}

.info_box .info_list .info{
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info_list .info span{
    font-weight: 600;
    color: blue;
}

.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgrey;
}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid rgb(56, 197, 207);
    border-radius: 5px; 
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons button.restart{
    color:#fff ;
    background: rgb(56, 197, 207);
}
.buttons button.restart:hover{
    
background:rgb(56, 79, 207) ;
}


.buttons button.quit{
color:rgb(56, 197, 207) ;
}

.buttons button.quit:hover{
    
    background:rgb(56, 79, 207) ;
    }